<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} - Resume</title>
    <style> 
        body {
            font-family: Calibri, sans-serif;
        }
        .expertise {
            display: grid;
            grid-template-columns: 1fr 1fr; gap: 10px;;
        }
        .title_row_margin {
            margin-right: 20px;
            margin-left: 10px;
        }
        .table_pad {
            padding-right: 20px;
        }
    </style>
</head>
<body style="margin: 10px;">
    <h2 style="display: inline-block; margin-right: 20px; margin-bottom: 2px;">{{ name }}</h2>
    <p style="display: inline; margin: 0; padding: 0;">Email: <a href="mailto:{{ email }}" class="title_row_margin">{{ email }}</a> | 
    <a href="{{ linkedin_url }}" class="title_row_margin">LinkedIn</a> |   
    <a href="{{ personal_website }}" class="title_row_margin">Personal Website</a> |   
    {{ phone }}</p>
    <hr style="border: 1px solid black; margin-top: 1px;">

    <h3 style="margin-bottom: 5px;">PROFESSIONAL SUMMARY</h3>
    <p style="margin-top: 5px;">{{ professional_summary }}</p>

    <h3 style="margin-bottom: 5px;">TECHNICAL EXPERTISE</h3>
    <table>
        {% for skill_row in technical_expertise %}
        <tr>
            {% for skill in skill_row %}
            <td class="table_pad">• {{ skill }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <h3>DOMAIN EXPERTISE</h3>
    <table>
        <tr>
            {% for domain in domain_expertise %}
            <td class="table_pad">• {{ domain }}</td>
            {% endfor %}
        </tr>
    </table>    

    <h3 style="margin-bottom: 5px;">PROFESSIONAL EXPERIENCE</h3>
    {% for experience in experiences %}
    <table width="100%" style="border-collapse: collapse;">
        <tr>
            <td style="padding: 0; margin: 0; line-height: 1;">
                <h3 style="display: inline; font-size: inherit; margin: 0;">
                    <a href="{{ experience.company_url }}">{{ experience.title }} - {{ experience.company }}</a>
                </h3>
            </td>
            <td style="text-align: right; padding: 0; margin: 0; line-height: 1;">
                <h3 style="display: inline; font-size: inherit; margin: 0;">({{ experience.start_date }} - {{ experience.end_date }})</h3>
            </td>
        </tr>
    </table>
    <p style="margin: 2px;"><em>{{ experience.description }}</em></p>
    <ul style="margin-top: 2px; margin-bottom: 10px; padding-left: 30px; text-align: justify;">
        {% for bullet in experience.bullets %}
        <li>{{ bullet }}</li>
        {% endfor %}
    </ul>
    {% endfor %}

    <h3  style="margin-bottom: 5px;">FREELANCING</h3>
    <p style="margin-top: 5px;"><strong><a href = "{{ freelancing_url }}">{{ freelancing_title }} –</a>{{ freelancing_role }}</strong></p>

    <h3 style="margin-bottom: 5px;">KNOWLEDGE PURVIEW</h3>
    <p style="margin-top: 5px; text-align: justify;">{{ knowledge_purview }}</p>

    <h3 style="margin-bottom: 5px;">EDUCATION</h3>
    {% for education in education_details %}
    <p style="margin-top: 5px; margin-bottom: 5px;"><strong>{{ education.degree }}</strong> - {{ education.institution }} ({{ education.year }}) - GPA: {{ education.gpa }}</p>
    {% endfor %}

    <h2>ARTICLES/PUBLICATIONS</h2>
    <ul style="margin-bottom: 15px; margin-top: 5px; padding-left: 30px; text-align: justify;">
        {% for publication in publications %}
        <li><a href="{{ publication.url }}">{{ publication.title }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
